@import '../utilities/_mixin.scss/';
@import '../utilities/variables';

.grid-parent{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-gap: 2rem;

    //Removes dots next to <li> tags.
    list-style: none;
 }

 .grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-gap: 2rem;

    //Removes dots next to <li> tags.
    list-style: none;
 }