@import '../utilities/_mixin.scss/';
@import '../utilities/variables';

.header-cover {
   @include container(big);
   display: flex;
   justify-content: center;
   p {
       max-width: 600px;
       margin-bottom: 8px;
   }
}

.cover-content-text {

    h1, h2, h3 {
        margin-bottom: 10px;
    }
}