@import '../utilities/_mixin.scss/';
@import '../utilities/variables';

.header-cover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .cover-content {
        position: absolute;

        img {
            display: none;
        }
        .cover-content-text {
            padding: 10px;
        }

        @include media(tablet) {
            display: flex;

            img {
                flex-basis: 31.3%;
                display: initial;
                max-height: 355px;
                margin-right: 20px;
            }

            .cover-content-text {
                align-self: flex-start;
                width: 100%;
                flex-basis: 678px;
                max-width: 678px;
                padding: 89px 0 85px;
            }
        }
    }
}