@import '../utilities/_mixin.scss/';
@import '../utilities/variables';

.hero-category {
    position: relative;
    display: flex;  
    align-items: center;
}

.hero-content {
    position: absolute;
    padding: 20px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 4px;
    color: $color-first-dark;
    max-width: 400px;

    h1, h2, h3 {
        color: $color-third-light;
        margin-bottom: 20px;
    }
}

.hero-home {

    a {
        margin-bottom: 20px;
        float: right;
        font-weight: 600;
    }

    p {
        margin-bottom: 20px;
    }

    img {
        max-height: 440px;
    }

    @include media(tablet) {
        display: flex;

        img {
            width: 540px;
        }
    }
}

.hero-home-text {
    margin-right: 30px;

    h1, h2, h3, h4 {
        margin-bottom: 6px;
    }
}