@import './variables';

@mixin media ($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (min-width: 700px) {
            @content;
        }
    }
    @if $breakpoint == tablet {
        @media only screen and (min-width: 996px) {
            @content;
        }
    }
}

$padding-site: 1rem;

@mixin container($containersize) {
    margin: 0 auto;
    padding: $padding-site;

    @if $containersize == big {
        max-width: 1100px;
    }
    @if $containersize == topbar {
        max-width: 1100px;
    }

    @if $containersize == medium {
        max-width: 900px;
    }

    @if $containersize == small {
        max-width: 700px;
    }
}

@mixin flex($myflex) {
        display: flex;

    @if $myflex == columncenter {
        flex-direction: column;
        align-items: center;
    }

    @if $myflex == center {
        flex-direction: center;
        align-items: center;
        justify-content: center;
    }
}

@mixin font($myfont) {
    @if $myfont == small {
        font-family: 'Hind Guntur', sans-serif;
    }
    @if $myfont == medium {
        font-family: 'Merriweather', serif;
    }
    @if $myfont == big {
        font-family: 'Roboto', sans-serif;
    }
}

//For the category buttons
@mixin catBasic {
    position: absolute;
    z-index:2;
    color: $color-first-light;
    padding: 8px 12px;
    opacity: 0.9;
    @include font(big);
    font-weight: 400;

    &:hover {
        filter: brightness(120%)
    }
}