
// ----- COLORS -----
$color-first: #F2F2F2;
$color-first-light: #fff;
$color-first-dark: #c7c7c7;

$color-second: #464646;
$color-second-light: #858585;
$color-second-dark: #000;

//#EEB238FF
//#BF9B30
$color-third: #BF9B30;
$color-third-light: #d6ad33;
$color-third-dark: #A67C00;

// ----- PADDINGS -----

//The padding at the side of the webpages.
$padding-sides: 10px ;


// ----- FONTS -----
$font-first: 'font-family: 'Open Sans', sans-serif';