
// ----- COLORS -----
$color-first: #f7f7f7;
$color-first-light: #fff;
$color-first-dark: #c7c7c7;

$color-second: #2e2e2e;
//#263238, #464646
$color-second-light: #263238;
$color-second-dark: #2b2b1d;

//#EEB238FF
//#BF9B30
//#8E793E
//#AD974F
//#D1AD54
//#B79541
$color-third: #D1AD54;
$color-third-light: #d6ad33;
$color-third-dark: #A67C00;

// ----- PADDINGS -----

//The padding at the side of the webpages.
$padding-sides: 10px ;


// ----- FONTS -----
$font-first: 'font-family: 'Open Sans', sans-serif';
$font-size:1.25rem;