.background1 {
  background-color: #f7f7f7;
}

.container1 {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1100px;
}

.container-medium {
  margin: 0 auto;
  padding: 1rem;
  max-width: 900px;
}

.container-small {
  margin: 0 auto;
  padding: 1rem;
  max-width: 700px;
}

.flexColumCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexRowCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexTopbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.margin-top {
  margin-top: 70px;
}

@media only screen and (min-width: 996px) {
  .margin-top-small {
    margin-top: 20px;
  }
}

.margin-bottom {
  margin-bottom: 150px;
}

* {
  margin: 0;
  padding: 0;
}

*::-moz-selection {
  background-color: #D1AD54;
  color: #fff;
}

*::selection {
  background-color: #D1AD54;
  color: #fff;
}

body {
  background-color: #fff;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 500px;
}

@media only screen and (min-width: 996px) {
  article img {
    max-height: 380px;
  }
}

.none {
  display: none;
}

::-webkit-scrollbar {
  width: 0.6em;
}

::-webkit-scrollbar-track {
  background: #f7f7f7;
  margin-block: 0.1em;
}

::-webkit-scrollbar-thumb {
  background: #D1AD54;
  border: 0.1em solid #f7f7f7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d6ad33;
}

@supports (scrollbar-color: #D1AD54 #f7f7f7) {
  * {
    scrollbar-color: #D1AD54 #f7f7f7;
    scrollbar-width: thin;
  }
}

html {
  font-family: 'Hind Guntur', sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  color: #263238;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #2b2b1d;
  line-height: 1;
}

h1 {
  font-size: calc(1.25rem * 1.618 * 2);
  font-weight: 700;
}

@media only screen and (min-width: 996px) {
  h1 {
    font-size: calc(1.25rem * 1.618 * 3);
  }
}

h2 {
  font-size: calc(1.25rem * 1.618*1.2);
  font-weight: 600;
}

@media only screen and (min-width: 996px) {
  h2 {
    font-size: calc(1.25rem * 1.618 * 2);
  }
}

h3 {
  font-size: calc(1.25rem * 1.618);
  font-weight: 600;
}

h4 {
  font-size: calc(1.25rem * 1.2);
  font-weight: 400;
}

p {
  font-weight: 300;
}

p.strong {
  font-weight: 400;
  color: #2e2e2e;
}

.test {
  font-family: 'Merriweather', serif;
  color: #2b2b1d;
  font-size: 2rem;
  line-height: 1.2;
}

a {
  color: #D1AD54;
  text-decoration: none;
}

a:hover {
  color: #A67C00;
}

.logo h4 {
  font-weight: 600;
  font-size: 1.45rem;
}

.logo a {
  text-decoration: none;
}

.nav {
  font-weight: 500;
}

article p {
  margin-top: 30px;
}

@media only screen and (min-width: 996px) {
  article h2, article h3, article h4 {
    margin-top: 70px;
  }
}

article span.color-third {
  font-weight: 600;
}

article ul {
  margin: 12px 0 1rem 1rem;
}

article ul li {
  font-weight: 300;
  color: #263238;
  margin: 0.3em 0;
}

article a {
  font-weight: 600;
}

.cat-date {
  margin-top: 20px;
  font-size: 0.9rem;
}

.date {
  color: #263238;
}

.text-background {
  background-color: #f7f7f7;
  padding: 14px 30px;
  max-width: 570px;
  font-weight: 300px;
}

.text-background2 {
  background-color: #D8D8D8;
  padding: 4px;
  border: 1px solid #F0F0F0;
  font-weight: 400;
}

.copyright {
  margin-top: 30px;
  font-weight: 600;
  font-size: 1.45rem;
}

.color-third {
  color: #D1AD54;
}

.color-third-dark {
  color: #A67C00;
}

hr.style {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-gradient(linear, left top, right top, from(#ccc), color-stop(#333), to(#ccc));
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

@media only screen and (min-width: 996px) {
  hr.style {
    background: #fff;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
}

hr.style2 {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

button {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 12px 20px;
  background-color: #D1AD54;
  color: #f7f7f7;
  border: 0;
  border-radius: 4px;
}

button:hover {
  background-color: #d6ad33;
  cursor: pointer;
}

.hamburger {
  display: block;
  position: relative;
  z-index: 1;
  /*So you can't highlight the button*/
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.hamburger:hover {
  background-color: transparent;
}

.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: #2e2e2e;
  border-radius: 6px;
  z-index: 1;
  /*Start from top left*/
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  background-color: #D1AD54;
}

.hamburger.active span:nth-child(1) {
  -webkit-transform: translate(0px, -2px) rotate(45deg);
          transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.hamburger.active span:nth-child(3) {
  -webkit-transform: translate(-3px, 3px) rotate(-45deg);
          transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.active span:hover {
  background-color: #d6ad33;
}

@media only screen and (min-width: 996px) {
  .hamburger {
    display: none;
  }
}

.card {
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card img {
  max-height: 300px;
}

@media only screen and (min-width: 996px) {
  .card img {
    max-height: 11.5em;
  }
}

.card:hover {
  cursor: pointer;
}

.card:hover img {
  opacity: 0.7;
}

.card:hover h2, .card:hover h3, .card:hover h4 {
  color: #D1AD54;
  text-decoration: underline;
}

.card-content {
  padding: 20px 10px;
}

.card-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-img span:nth-child(2) {
  top: 3em;
}

.card-img span:nth-child(3) {
  top: 6em;
}

.cat-analysis {
  position: absolute;
  z-index: 2;
  color: #fff;
  padding: 8px 12px;
  opacity: 0.9;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #5e5c5c;
}

.cat-analysis:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.cat-business {
  position: absolute;
  z-index: 2;
  color: #fff;
  padding: 8px 12px;
  opacity: 0.9;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #FF0000;
}

.cat-business:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.cat-finance {
  position: absolute;
  z-index: 2;
  color: #fff;
  padding: 8px 12px;
  opacity: 0.9;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #32B04A;
}

.cat-finance:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.cat-stock {
  position: absolute;
  z-index: 2;
  color: #fff;
  padding: 8px 12px;
  opacity: 0.9;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #3B5152;
}

.cat-stock:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.cat-frugal {
  position: absolute;
  z-index: 2;
  color: #fff;
  padding: 8px 12px;
  opacity: 0.9;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #8C5722;
}

.cat-frugal:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.footer {
  margin-top: 180px;
}

.container-footer {
  margin: 0 auto;
  padding: 1rem;
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

input, textarea {
  border: 1px solid #2e2e2e;
  border-radius: 4px;
  width: 100%;
  margin: 0;
  padding: 12px 20px;
  font-size: 0.9rem;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input:focus, textarea:focus {
  border: 1px solid #D1AD54;
  outline: none;
}

textarea {
  font-family: 'Roboto', sans-serif;
}

form {
  margin-top: 40px;
}

@media only screen and (min-width: 700px) {
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 700px) {
  form button {
    max-width: 180px;
    max-height: 50px;
  }
}

.form-subscribe {
  max-width: 440px;
}

@media only screen and (min-width: 700px) {
  .form-subscribe button {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 700px) {
  .form-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-contact input {
    max-width: 50%;
  }
}

.grid-parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(18rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 2rem;
  list-style: none;
}

.grid2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 2rem;
  list-style: none;
}

.header-cover {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-cover p {
  max-width: 600px;
  margin-bottom: 8px;
}

.cover-content-text {
  margin-top: 2rem;
}

.cover-content-text h1, .cover-content-text h2, .cover-content-text h3 {
  margin-bottom: 10px;
}

@media only screen and (min-width: 996px) {
  .cover-content-text {
    margin-top: 2.5em;
  }
}

.cover-content-other {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 996px) {
  .cover-content-other {
    margin-bottom: 2rem;
  }
}

.container-topbar {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1100px;
  padding: 10px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  color: #2e2e2e;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav li {
  display: none;
  margin-left: 14px;
  padding: 10px;
  font-size: 1.3rem;
}

.nav li:hover {
  color: #D1AD54;
  cursor: pointer;
}

.nav a {
  color: inherit;
}

.nav button {
  float: left;
}

.nav.active {
  width: 300px;
  height: 100%;
  background: #f7f7f7;
  position: absolute;
  top: 50px;
  -webkit-transition: 300ms ease right;
  transition: 300ms ease right;
  left: 0;
  z-index: 3;
}

.nav.active li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

@media only screen and (min-width: 996px) {
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav li {
    display: block;
    padding: 0;
    margin: 0 10px;
    font-size: 1.1rem;
    font-weight: normal;
  }
  .nav li:first-child {
    margin-left: 0;
  }
  .nav li:last-child {
    margin-right: 0;
  }
  .active {
    width: 300px;
    height: 100%;
    background-color: coral;
    position: absolute;
    top: 50px;
    right: 0;
    -webkit-transition: 300ms ease left;
    transition: 300ms ease left;
  }
  .active ul li {
    display: block;
  }
}

.nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.nav-footer li {
  padding: 10px;
  font-size: 1rem;
}

.nav-footer a {
  color: #2e2e2e;
}

.nav-footer a:hover {
  color: #D1AD54;
  cursor: pointer;
}

.hero-category {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-content {
  position: absolute;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  color: #c7c7c7;
  max-width: 400px;
}

.hero-content h1, .hero-content h2, .hero-content h3 {
  color: #d6ad33;
  margin-bottom: 20px;
}

.hero-home a {
  margin-bottom: 20px;
  float: right;
  font-weight: 600;
}

.hero-home p {
  margin-bottom: 20px;
}

.hero-home img {
  max-height: 440px;
}

@media only screen and (min-width: 996px) {
  .hero-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero-home img {
    width: 540px;
  }
}

.hero-home-text {
  margin-right: 30px;
}

.hero-home-text h1, .hero-home-text h2, .hero-home-text h3, .hero-home-text h4 {
  margin-bottom: 6px;
}
/*# sourceMappingURL=style.css.map */