@import '../utilities/mixin';
@import '../utilities/variables';

* {
    margin:0;
    padding:0;

    &::selection {
        background-color: $color-third;
        color: $color-first-light;
    }
}

body {
    background-color: $color-first-light;
}

img {
    //Makes pictures look better. Some part of the images will disappear tho.
    object-fit: cover;
    width: 100%;
    max-height: 500px;
}

article {

    img {

        @include media(tablet) {
            max-height: 380px;
        }
    }
}

.none {
    display: none;
}

