@import '../utilities/mixin';
@import '../utilities/variables';

* {
    margin:0;
    padding:0;

    &::selection {
        background-color: $color-third;
        color: $color-first-light;
    }
}

body {
    background-color: $color-first-light;
}

img {
    //Makes pictures look better. Some part of the images will disappear tho.
    object-fit: cover;
    width: 100%;
    max-height: 500px;
}

article {

    img {

        @include media(tablet) {
            max-height: 380px;
        }
    }
}

//Just to remove something temporarily.
.none {
    display: none;
}

// ----- THE SCROLLBAR -----

::-webkit-scrollbar {
    //Vertical scrolling
    width: 0.6em;
    //Horizontal scrolling = height
}

//The entire scrollbar background
::-webkit-scrollbar-track {
    background: $color-first;
    //Gives it a bit of margin on top/bottom.
    margin-block: 0.1em;
}

//The actual scrollbar thing
::-webkit-scrollbar-thumb {
    background: $color-third;
    border: 0.1em solid $color-first;
    border-radius: 10px;

    &:hover {
        background: $color-third-light;
    }
}

@supports (scrollbar-color: $color-third $color-first) {
    * {
        scrollbar-color: $color-third $color-first;
        scrollbar-width: thin;
    }
}

