@import '../utilities/_mixin.scss/';
@import '../utilities/variables';

html {
    @include font(small);
    font-weight: 500;
    font-size: $font-size;
    color: $color-second-light;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    @include font(big);
    font-weight: 900;
    color: $color-second-dark;
    line-height: 1;
}

h1 {
    font-size: calc(#{$font-size} * 1.618 * 2);
    font-weight: 700;

    @include media(tablet) {
        font-size: calc(#{$font-size} * 1.618 * 3);
    }
}

h2 {
    font-size: calc(#{$font-size} * 1.618*1.2);
    font-weight: 700;
    
    @include media(tablet) {
        font-size: calc(#{$font-size} * 1.618 * 2);
    }
}

h3 {
    font-size: calc(#{$font-size} * 1.618);
    font-weight: 600;
}

h4 {
    font-size: calc(#{$font-size} * 1.4);
    font-weight: 600;
}

p {
    font-weight: 300;
}

p.strong {
    font-weight: 400;
    color: $color-second;
}

.test {
    @include font(medium);
    color: $color-second-dark;
    font-size: 2rem;
    line-height: 1.2;
}

a {
    color: $color-third;
    text-decoration: none;

    &:hover {
        color: $color-third-dark;
    }
}

.logo {
    margin-bottom: 12px;
    h4 {
        font-weight: 600;
        font-size: 1.45rem;
    }

    a {
        text-decoration: none;
    }

    @include media(phone) {
        margin-bottom: 0;
    }
}

.nav {
    font-weight: 500;
}

article {

    p {
        margin-top: 30px;
    }

    h2, h3, h4 {
        @include media(tablet) {
            margin-top: 70px;
        }
    }

    span.color-third {
        font-weight: 600;
    }
}

.cat-date {
    margin-top: 20px;
    font-size: 0.9rem;
}

.date {
    color: $color-second-light;
}

.text-background {
    background-color: $color-first;
    padding: 14px 30px;
    max-width: 570px;
    font-weight: 300px;
}

.copyright {
    margin-top: 30px;
}

// ----- COLORS -----
.color-third {
    color:$color-third;
}

.color-third-dark {
    color:$color-third-dark;
}

// ----- HR STYLES -----

hr.style {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);

    @include media(tablet) {
        background: $color-first-light;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }
    
}

hr.style2 {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}